html,
body,
.view {
  height: 100%; }
.navbar {
  background-color: #1C2331; }
.top-nav-collapse {
  background-color: #1C2331; }
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }
.page-footer {
  background-color: #1C2331; }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}