html,
body,
.view {
  height: 100%; }
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }
.top-nav-collapse {
  background-color: #1C2331; }
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }
.page-footer {
  background-color: #1C2331; }